.h-100vh {
  height: 100vh;
  object-fit: cover;
}

.h-50vh {
  height: 50vh;
  object-fit: cover;
}

.adventure-font {
  font-family: 'Finger Paint', cursive;
}

.blue-gray {
  background-color: #f8fafc;
}

.glass {
  backdrop-filter: blur(5px);
  border: solid 1px white;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.indent {
  text-indent: 8px;
}
